<div class="gtitle" style="width:100%;min-height:1.5em;max-height:1.5em;">Titulo</div>   
<div class="row">
	<div id="images" class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
		<img class="img-thumbnail img-responsive" alt="180x135" src="/images/hr3291367-32.jpg" style="width: 180px;">
		<img class="img-thumbnail img-responsive" alt="180x135" src="/images/hr3291367-2.jpg" style="width: 180px;">
		<img class="img-thumbnail img-responsive" alt="180x135" src="/images/hr3291367-2.jpg" style="width: 180px;">
		<img class="img-thumbnail img-responsive" alt="180x135" src="/images/hr3291367-32.jpg" style="width: 180px;">
		<img class="img-thumbnail img-responsive" alt="180x135" src="/images/hr3291367-2.jpg" style="width: 180px; display:none;">
		<img class="img-thumbnail img-responsive" alt="180x135" src="/images/hr3291367-32.jpg" style="width: 180px; display:none;">

		<ul class="pagination" style="display: block;"> 
			<li><a>1</a></li>
			<li><a>2</a></li>
		</ul>
	</div>
	<div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
		<img id="imgTop" class="img-responsive" src="/images/hr3291367-32.jpg" alt="100%x50%" style="width: 100%; display: block;">
		<div class="panel panel-success" style="margin-top:2%;">
			<div class="panel-heading">
				<h3 class="panel-title">Information</h3>
			</div>
			<div class="panel-body">
				<b>Description: </b>DESC<br><br>
				<b>Price:</b>PRECIO , <b>Building SquareFeet:</b>FEET , <b>Year Built:</b>YEAR<br>
				<b>Bedrooms:</b>BED , <b>Baths:</b>BATH , <b>Garage:</b>CAR , <b>Swimming Pool:</b>POOL<br>
				<b>School District:</b>DISTRI , <b>Elementary Sch.:</b>KINDER , <b>Middle Sch.:</b>ESCUELA , <b>High Sch.:</b>LICEO<br>
				<b>HAR (Houston Association of Realtors) link:</b>URL
			</div>
		</div>
	</div>
</div>